.homepage5 {
    height: 700px;
    /* background-color: beige; */
    margin-top: 10px;
    min-height: fit-content;
    padding: 2%;

}

.homepage5-h {
    padding-top: 0px;
    text-align: center;
    font-family: serif;
    font-size: 50px;
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.homepage5 img {
    width: fit-content;
    height: 400px;

}

.homepage5-img {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.homepage3-hr-1 {
    height: 5px;
    background-color: #0000CD;
    width: 5%;
    margin-bottom: 0px;
}

.homepage3-hr-2 {
    height: 5px;
    background-color: #FF4500;
    width: 5%;
    margin-top: 0px;

}