.homepage1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-image: url('./Images/1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}

.logo {
    font-size: 120px;
    color: #6495ED;
    margin-bottom: 0px;
    padding: 0px;
    margin: 10px;
}

.p1 {
    font-family: 'Itim', cursive;
    font-size: 18px;
    margin: 10px;
}

.homepage2 {
    display: flex;
    height: fit-content;
    min-height: 500px;
    background-color: beige;
    margin-top: 20px;

}

.homepage2-1 {
    width: 50%;
    text-align: left;
    padding: 10px;
    padding-left: 10%;
    font-size: 18px;
}

.h1-homepage2-1 {
    font-size: 50px;
    padding-left: 60px;
    margin: 0px;
    color: #00008B;
}

.button-homepage2-1 {
    margin-top: 10%;
    text-align: center;
}

.homepage2-2 {
    width: 50%;
    background-image: url('./Images/2.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    border-radius: 10px;
}

.homepage3 {

    min-height: 550px;
    height: fit-content;
    background-color: beige;
    margin-top: 20px;
    padding: 2%;

}

.homepage3-h1 {
    padding-top: 0px;
    text-align: center;
    font-family: serif;
    font-size: 50px;
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.homepage3-hr-1 {
    height: 5px;
    background-color: #0000CD;
    width: 5%;
    margin-bottom: 0px;
}

.homepage3-hr-2 {
    height: 5px;
    background-color: #FF4500;
    width: 5%;
    margin-top: 0px;

}

.homepage3-1 {
    display: flex;
}

.homepage3-1-1 {
    width: 30%;
    height: fit-content;
    min-height: 320px;
    margin: 3%;
    text-align: center;
    background-color: rgb(226, 241, 247);
    padding: 10px;
    border-radius: 5cap;
    font-size: 20px;

}

.homepage3-1-1 h3 {
    color: #6495ED;
}

.homepage4 {
    display: flex;
    min-height: 500px;
    height: fit-content;
    background-color: beige;
    margin-top: 10px;
}

.homepage4-1 {
    width: 35%;

    margin-left: 10%;
    background-image: url('./Images/3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
}

.homepage4-2 {
    width: 50%;
    margin-right: 5%;
}

.homepage4-2-h {
    text-align: center;
    font-size: 30px;
    font-family: Text;
}

.homepage4-2-b {
    display: flex;
}

.homepage4-2-b-1 {
    text-align: center;
    background-color: #6495ED;
    width: 50%;
    margin: 2%;
    height: 250px;
    min-height: fit-content;
    padding: 20px;
    border-radius: 5cap;
    color: white;
}

.homepage4-2-b-1 h3 {
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.homepage5 {
    height: 500px;
    background-color: beige;
    margin-top: 10px;
    min-height: fit-content;
    padding: 2%;

}

.homepage5-h {
    padding-top: 0px;
    text-align: center;
    font-family: serif;
    font-size: 50px;
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.homepage5 img {
    width: fit-content;
    height: 400px;

}

.homepage5-img {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.homepage6 {
    height: 500px;
    background-color: beige;
    margin-top: 10px;
    min-height: fit-content;
    padding: 2%;

}

.homepage6-h {
    padding-top: 0px;
    text-align: center;
    font-family: serif;
    font-size: 50px;
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.homepage6-b {
    margin-top: 3%;
}

.homepage6-b-q {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px
}

.homepage6-b-a {
    width: 90%;
    text-align: left;
    font-size: 20px;
}

.homepage7 {

    height: 500px;
    background-color: beige;
    margin-top: 10px;
    min-height: fit-content;
    padding: 2%;

}


.homepage7-h {
    padding-top: 0px;
    text-align: center;
    font-family: serif;
    font-size: 50px;
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.homepage7-b {
    display: flex;
}

.homepage7-b-1 {
    width: 50%;
    padding-left: 20%;
    font-size: 20px;
}

.homepage7-b-2 {
    width: 50%;
    margin-left: 5%;
    font-size: 20px;

}

.homepage7-b-2 ul {
    list-style: none;
}

.homepage7-b-2 img {
    width: 5%;
    height: 5%;
    margin-top: 3%;
}

.homepage7-b-2-text {
    margin-left: 1%;
}

.homepage7-b-2-text h5 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.homepage7-b-2-text p {
    margin-top: 0px;
    padding-top: 0px;
}