.container {
    max-width: 800px;
    height: 85vh;
    margin: 20px auto;
    padding-bottom: 20px;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 15px;
    }
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 2rem;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .dropzone {
        padding: 1rem;
    }
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .button-group {
        flex-direction: column;
        gap: 10px;
    }
}

.video-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.video-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.video-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.video-item {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download-video-container {
    text-align: center;
    margin-top: 20px;
}

.download-video-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.download-video-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.download-video-item {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_modal .mantine-Modal-modal {
    max-width: 90%;
    width: 80%;
}

@media (max-width: 1200px) {
    .custom_modal .mantine-Modal-modal {
        max-width: 70%;
        width: 70%;
    }
}

@media (max-width: 768px) {
    .custom_modal .mantine-Modal-modal {
        max-width: 90%;
        width: 90%;
        size: 100%;

    }
}

@media (max-width: 480px) {
    .custom_modal .mantine-Modal-modal {
        max-width: 95%;
        width: 95%;
        size: 100%;

    }
}