.container_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container_root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.image_wrapper {
    width: 90%;
    max-width: 900px;
    margin-bottom: 10px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 50vh;
    object-fit: cover;
}

.content {
    width: 90%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.content button {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3vw;
}

@media (min-width: 768px) {
    .container_content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2vw;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .image_wrapper {
        width: 50%;
        margin-bottom: 0;
    }

    .content {
        width: 50%;
        margin: 0;
    }
}