.cardItem {
    flex: 0 0 calc(33.33% - 20px);
}

@media (max-width: 768px) {
    .cardItem {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .cardItem {
        flex: 0 0 100%;
    }
}

.title {
    cursor: pointer;
}

.divider {
    margin-bottom: 0px;
}

.contents {}